In [1]:
import pandas as pd  
import numpy as np 
import matplotlib.pyplot as plt
% matplotlib inline

In [17]:
#Load Dataset — Data Understanding
turbinedata = pd.read_csv("dataset.csv")
turbinedata.head(3)

      RMS     MEAN   STDev  VARIANCE  KURTOSIS  CLASS
0  1.6918  0.71827  1.5318    2.3464  -43.9466      0
1  1.3942  0.76061  1.1684    1.3652  -42.9466      0
2  1.3937  0.76297  1.1663    1.3603  -41.9466      0

In [18]:
#Binary Classification - 'CLASS' => 0= faulty, 1=healthy
#Data Transformation — Data Preparation
X = turbinedata.drop('CLASS', axis=1)  
y = turbinedata['CLASS']

In [19]:
X.head(3)

      RMS     MEAN   STDev  VARIANCE  KURTOSIS
0  1.6918  0.71827  1.5318    2.3464  -43.9466
1  1.3942  0.76061  1.1684    1.3652  -42.9466
2  1.3937  0.76297  1.1663    1.3603  -41.9466

In [20]:
y.head(3)

0    0
1    0
2    0
Name: CLASS, dtype: int64

In [21]:
#model split for testing and training
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [22]:
X_train.shape, y_train.shape

((115, 5), (115,))

In [23]:
X_test.shape, y_test.shape

((29, 5), (29,))

In [24]:
#modeling
from sklearn import svm
from sklearn.preprocessing import scale
svclassifier = svm.NuSVC()
svclassifier.fit(X_train, y_train)

NuSVC(cache_size=200, class_weight=None, coef0=0.0,
   decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
   max_iter=-1, nu=0.5, probability=False, random_state=None,
   shrinking=True, tol=0.001, verbose=False)

In [25]:
#Model Performance — Evaluation
print (svclassifier.predict([[1.4464,0.77231,1.2229,1.4955,3.003]]))

[1]

In [26]:
svclassifier.score(X_test, y_test)  #accuracy score

0.896551724137931